name: Build LaTeX document
on: 
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
              sudo apt-get update -y \

              # Install the full version 
              # sudo apt-get install texlive-full -y
              # or only your required latex packages 
              sudo apt install -y \
                  texlive-base \
                  texlive-latex-base \
                  texlive-latex-recommended \
                  texlive-latex-extra \
                  texlive-fonts-recommended \
                  latexmk \
                  lmodern

      - name: Generate pdfs 
        run: pdflatex Devendra_Sahu-DevOps-9Years.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: Devendra_Sahu-DevOps-9Years.pdf